site_name: Installation Tutorial for various software
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/eye 
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/eye-outline
        name: Switch to light mode
      primary: indigo
      accent: indigo
    
    

#  logo: assets/logo.png
#extra:
#    homepage: https://www.evoters.in

plugins:
  - search
